.wrapper{
  margin-top: 2em;
}

.container {
  margin-top: 1em;
  padding: 2em;
}

.title {
  color: var(--mantine-color-white);
  font-family: Greycliff CF, var(--mantine-font-family);
  font-weight: 900;
  line-height: 1.05;
  max-width: rem(500px);
  font-size: rem(48px);

  @media (max-width: $mantine-breakpoint-md) {
    max-width: 100%;
    font-size: rem(34px);
    line-height: 1.15;
  }
}