.container {
  padding: 1em;
}

.dullImage {
    filter: grayscale(100%);
}

.card {
    transition: transform 0.22s ease-in-out;
  }

.card:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
  }
