.header {
    height: rem(106px);
    margin-bottom: rem(10px);
    background-color: var(--mantine-color-body);
    border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.inner {
    height: rem(100px);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}



.link {
    display: block;
    line-height: 1;
    padding: rem(8px) rem(12px);
    border-radius: var(--mantine-radius-sm);
    text-decoration: none;
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
    font-size: var(--mantine-font-size-med);
    font-weight: 500;

    @mixin hover {
        background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
    }

    [data-mantine-color-scheme] &[data-active] {
        background-color: var(--mantine-color-green-9);
        color: var(--mantine-color-white);
    }
}

.img {
    background-color: white;
}