.admin_container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 2rem;
}
.admin_container > :first-child {
  flex-basis: 20%;
  max-width: 300px;
  min-width: 300px;
}
.admin_container> :last-child {
  flex-grow: 1;
  padding: 1rem;
}
.admin_page {
  margin: 0 20px;
  box-sizing: border-box;
}

.home_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f7f7f7;
  padding: 20px;
  box-sizing: border-box;
}

h4 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

span {
  color: #007BFF;
}

button {
  padding: 10px 15px;
  font-size: 16px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

/* Responsive Design - Example */
@media screen and (max-width: 768px) {
  .admin_container {
    flex-direction: column;
  }

  .admin_container> :first-child,
  .admin_container> :last-child {
    flex-basis: auto;
    max-width: none;
  }
}